.footer{
    background-color: #2dbba4;;
}

.footer-center{
    display: flex;
    justify-content: center;
}

.menu-footer{
    display: flex;
    margin: 0 auto;
}

.footer-menu{
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400px;
    line-height: 30px;
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 40px;
    padding-right: 11px;
    padding-left: 11px;
    border-right: 1px solid #fff;
}

.first-element{
    padding-left: 0;
}

.last-element{
    border: 0;
    padding-right: 0;
}

.text-footer{
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 600px;
    line-height: 30px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 1.17;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 40px;
}

.text{
    font-family: 'Gloria Hallelujah' ;
    font-size: 18px;
    font-weight: 800px;
}